.wrapper-form {
    background-color: var(--lightGray);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 8px 25px 8px;
   }

#contact {
    background-color: var(--white);
    padding: 20px;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  
.form-content label{
    font: 500 15px/ normal var(--fontBase);
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.form-content input{
    padding: 5px;
    margin: 8px;
    font: var(--paragraph);
}

#form-message {
    padding: 5px;
    margin: 8px;
    width: 219px;
    height: 114px;
    font: var(--paragraph);
   }
.form-content button {
    margin:0px;
}

@media(min-width:768px){
  #contact {
    display: flex;
    flex-direction: column;
    }
    #wrapper-name-last {
      display: flex;
      }
    .wrapper-email-sub-msg {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    #form-message {
      width:auto;
      }
    .form-content label{
      color: var(--darkGray);
    }
    .form-content input textarea{
      border: 1px solid var(--darkGray);
      border-radius: 2px;
    }

}