@import "../fonts/flaticon/font/flaticon.css";
@import "../fonts/icomoon/style.css";


:root{
    --fontBase:'Montserrat', sans-serif;
    --fontSecond:'Nunito Sans', sans-serif;

    /*font-weight font-size/line-height font-family*/
    /*Home  Features About Us*/
    --headline1: 800 40px/ normal var(--fontBase);
    /*About us (create interactive prototypes subtitle)*/
    --headline2: 500 32px/ normal var(--fontSecond);
    /*Features (Business consulting subtitle)*/
    --headline3: 500 25px/ normal var(--fontBase);
    /*Logo Landerz*/
    --headline4: 500 35px/normal var(--fontBase);
    /*Testimonials italic text*/
    --headline5: italic 25px/normal var(--fontBase);
    /*NavBar text*/
    --headline6: 50 25px/normal var(--fontSecond);
    --paragraph: 300 20px/ normal var(--fontBase);

    --aquaMarine:#00D2B5;
    --darkGray:#6D767E;
    --lightGray:#F6F6F6;
    --white:#FFFFFF;
    --black:#000000;
}

body{
    
    color:var(--black);
    margin:0px;
}
body h1{
    font: var(--headline1);   
}
body h2{
    font: var(--headline2);   
}
body h3{
    font: var(--headline3);   
}
body h4{
    font: var(--headline4);   
}
body h5{
    font: var(--headline5);   
}
body h6{
    font: var(--headline6);   
}
body p {
    font: var(--paragraph); 
}