.testimonials {
  display: flex;
  flex-direction: column;
}

/*container of the wrapper*/
.testimonials-- {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.testimonials-wrapper {
  height: 270px;
}

.testimonials > h1 {
  text-align: center;
}

.testimonials-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    /* width: 100%;
    height: 300px; */
    overflow:hidden; 
   }

 .testimonials--{
  position: absolute;
  left: 0px;
  top: 0px;
  width: inherit;
  height: inherit;
  background: #fff;
} 

.testimonials-wrapper img {
    border-radius: 50%;
}

.testimonials-wrapper h5{
    font-size: 15px;
    color: var(--darkGray);
}

.testimonials-wrapper p{
    margin-top: 0px;
    font: 600 15px/ normal var(--fontBase);
}

.dots-navigation {
  display: flex;
  gap: 8px;
  list-style: none;
  justify-content: center;
  padding: 0;
 }
 
 .dots-navigation li{
  padding: 0px;
  margin: 0px;
  line-height: 15px;

 }
 ul.dots-navigation li a:hover {
   color:var(--aquaMarine);
 }

 
/*  .dots-navigation > li:nth-child(1) {
    color: var(--aquaMarine);
    padding: 0px;
    margin: 0px;
    line-height: 15px;
 } */
 
 
 .dots-navigation > li > a{
   text-decoration: none;
   font-size: 45px;
   color: var(--darkGray);
 }
 


@media(min-width:768px){
    .testimonials-wrapper {
        padding: 50px;
            }
    .testimonials-wrapper > h5 {
        width: 50%;
      }  
      .testimonials-wrapper > p {
        color: var(--black);
      }
        
}