.wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .banner{
    display: flex;
    flex-direction: column;
}
.banner-img img{
  width:100%;
}
.text-wrapper-banner p{
    color:var(--darkGray);
  }